@import 'variables.scss';

.data-container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: start;

    background-color: white;
    border-radius: 15px;
    top: 30%;
    left: 12%;
    min-height: 180px;
    padding: 2.5rem;
    z-index: 10000;
}

section {
    width: 100%;
    border: none !important;
    margin: 0 20px;
}

.ip-location, .location, .timezone {
    border-right: 1px solid $dark-gray;
}

p.data {
    margin: 15px 0;
    color: $very-dark-gray;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 30px;
}

h4 {
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-gray;
}

@media screen and (min-width: 1024px) {
    section {
        width: 20%;
    }
}