@import 'variables.scss';


header {
    width: 100%;
    min-height: 280px;
    height: 40vh;
    padding: 30px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/pattern-bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: $white;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 10px;
}

.input-group {
    display: flex;
    width: 90%;
    align-items: center;
    margin: 25px 0;
    height: 60px;

    input {
        width: 90%;
        height: 100%;
        font-size: 18px;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        padding: 0 0 0 20px;
        font-weight: 400;
        color: $dark-gray;

        &:focus,
        &:focus-visible {
            outline: none;
        }

    }

    button {
        width: 10%;
        height: 100%;
        cursor: pointer;
        background-color: $very-dark-gray;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        border: none;

        :focus, :focus-visible {
            outline: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        background-image: url('../img/pattern-bg-desktop.png');
    }
    .input-group {
         width: 40%;
    }

}